name: Build and Push Multi-arch Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ repository_owner_github }}
          password: ${{ secrets_GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . 
          file: ./docker/github/workflow/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/wuhins/n.e.k.o:latest
            ghcr.io/wuhins/n.e.k.o:${{ github.sha }}
          # 可选：添加构建参数
          # build-args: |
          #   HTTP_PROXY=${{ secrets.HTTP_PROXY }}
          #   HTTPS_PROXY=${{ secrets.HTTPS_PROXY }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
